<main class="news-details-page">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-9">
                <form method="POST">
                    {{#each NewsDetails}}
                    <input id="txtNewsID" name="NewsID" value="{{NewsID}}" hidden>
                    <input id="txtLike" name="Like" value="{{Like}}" hidden>
                    <input id="txtView" name="View" value="{{View}}" hidden>
                    <h1>{{NewsTitle}}</h1>
                    <b>Tác giả: {{Name}}</b>&nbsp;&nbsp;<a>&nbsp;{{formatDate DatePost}}</a><br>
                    <b>
                        Lượt xem: {{View}} -</i>&ensp;Lượt thích: {{Like}} </i>
                    </b>
                    <br>
                    <div class="catChild">
                        <b>Chuyên mục: </b>&ensp;
                        <a href="/list/subcategory/{{CatChild_ID}}" class="color">{{CatChildName}}</a>
                    </div>
                    <div class="avatar">
                        {{#if IsAvatar}}
                        <img src="/images/{{Avatar}}" alt="avatar for new">
                        {{else}}
                        <img src="/images/logo.png" alt="avatar for new">
                        {{/if}}
                    </div>
                    <div class="abstract">
                        <br>
                        <b>{{Abstract}}</b>
                    </div>
                    <div class="content">
                        <p>{{{Content}}}
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary mb-md-3" formaction="/newsDetails/like">
                        <i class="fas fa-thumbs-up"></i>
                        Like
                    </button>
                    {{/each}}
                </form>
                <div>
                    <i class="fas fa-tags"></i>
                    {{#each TagOfNews}}
                    <a href="/list/tag/{{tagID}}" class="tag" style="color: #636e72;">{{TagName}}</a>
                    {{/each}}
                </div>
                <div class="card text-left mt-md-3 mb-md-3">
                    <div class="card-header">
                        Comment:
                    </div>
                    <div class="form-group col px-md-5 mt-md-3 mb-md-3">
                        <textarea class="form-control" rows="5" id="txtComment" name="txtComment"></textarea>
                        <div class="send-button"> <button type="submit" class="btn btn-success mt-md-3"> Gửi</button>
                        </div>
                    </div>
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    {{#each CmtNews}}
                    <div class="col px-md-5 mb-md-3">
                        <div class="p-3 border">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="/images/lion.jpg" class="img-thumbnail">
                                </div>
                                <div class="col-sm-10">
                                    <h5 class="card-name" id="username" name="username">{{UserName}}</h5>
                                    <p class="card-text" id="txtComment" name="txtComment">{{Content}}</p>
                                    <p class="text-secondary">{{formatDate DateTime}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-3">
                <h4>5 BÀI ĐĂNG LIÊN QUAN</h4>
                {{#each FiveRelatedPosts}}
                <div class="card mt-md-3 mb-md-3">
                    {{#if IsAvatar}}
                    <img src="/images/{{Avatar}}" alt="avatar for new" class="card-img-top">
                    {{else}}
                    <img src="/images/logo.png" alt="avatar for new" class="card-img-top">
                    {{/if}}
                    <div class="card-body">
                        <h5 class="card-title"><a href="/newsDetails/{{NewsID}}"
                                style="text-decoration: none; color: #636e72 ">{{NewsTitle}}</a> </h5>
                        <p class="card-text">{{Abstract}}</p>
                        {{!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> --}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>