<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        {{#each NewsDetails}}
            <h2>{{NewsTitle}}</h2>
            <b>{{Author}}</b>&nbsp;&nbsp;<a>|&nbsp;{{DatePost}}</a><br>
            <i class="fa fa-eye" aria-hidden="true"> {{View}} -</i>&ensp;<i class="fas fa-thumbs-up">{{Like}}</i>
            <div class="abstract">
                {{!-- <br><img src="/images/lion.jpg"><br> --}}
                <b>{{Abstract}}</b>
            </div>
            <br>
            <div class="content">
                <p>{{{Content}}}
                </p>
            </div>
        {{/each}}
            <button type="submit" class="btn btn-primary mb-md-3">
                <i class="fas fa-thumbs-up"></i>
                Like
            </button>
            <div>
                {{#each TagOfNews}}
                <i class="fa fa-tag">
                    {{TagName}}&nbsp;
                </i>{{/each}}
            </div>
            <div class="card text-left mt-md-3 mb-md-3">
                <div class="card-header">
                    Comment:
                </div>
                <div class="form-group col px-md-5 mt-md-3 mb-md-3">
                    <textarea class="form-control" rows="5" id="txtComment" name="txtComment"></textarea>
                    <button type="submit" class="btn btn-success mt-md-3">
                        Send
                        <i class="fa fa-plane" aria-hidden="true"></i>
                    </button>
                </div>
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                {{#each CmtNews}}
                <div class="col px-md-5 mb-md-3">
                    <div class="p-3 border">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="/images/lion.jpg" class="img-thumbnail">
                            </div>
                            <div class="col-sm-10">
                                <h5 class="card-name" id="username" name="username">{{UserName}}</h5>
                                <p class="card-text" id="txtComment" name="txtComment">{{content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

    </div>
    <div class="col-sm-3">
        <h4>5 BÀI ĐĂNG LIÊN QUAN</h4>
        {{#each FiveRelatedPosts}}
        <div class="card mt-md-3 mb-md-3">
            <img src="/images/lion.jpg" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{NewsTitle}}</h5>
            <p class="card-text">{{Abstract}}</p>
            {{!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> --}}
            </div>
        </div>
        {{/each}}
        {{!-- <div class="card mt-md-3 mb-md-3">
            <img src="/images/lion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-md-3 mb-md-3">
            <img src="/images/lion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-md-3 mb-md-3">
            <img src="/images/lion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card mt-md-3 mb-md-3">
            <img src="/images/lion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div> --}}
        
    </div>
</div>