{{#section 'title'}}
Home
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/owl/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/owl/assets/owl.theme.default.min.css">
{{/section}}

{{#section 'js'}}
<script src="/owl/owl.carousel.min.js"></script>
<script src="/js/home.js"></script>
{{/section}}

<main class="home-page">
	<section class="hostest-posting">
		<h5 class="hostest-posting__title"> Bài viết nổi bật </h5>
		{{#if topFourNewsFamousLength}}
		<div class="container">
			<div class="row">
				{{#each topFourNewsFamous}}
				<div class="col-md-6">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row no-gutters">
							<div class="col-md-4">
								{{#if Avatar}}
								<img src="/images/{{Avatar}}" class="card-img" alt="image posting">
								{{else}}
								<img src="/images/logo.png" class="card-img" alt="image posting">
								{{/if}}
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<a href="/newsdetails/{{NewsID}}" class="card-title">{{NewsTitle}}</a>
									<p class="card-text"><a href="/list/category/{{CatID}}">{{CatName}}</a> -
										<a href="/list/subcategory/{{CatChild_ID}}">{{CatChildName}}</a> </p>
									<p class="card-text"><small class="text-muted">{{formatDate DatePost}}</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		{{#else}}
		<div>Không có dữ liệu</div>
		{{/else}}
		{{/if}}
	</section>
	<section class="most-view">
		<h5 class="most-view__title"> Bài viết xem nhiều nhất </h5>
		{{#if listViewsNewsLength}}
		<div class="container">
			<div class="row">
				<div class="owl-carousel owl-theme">
					{{#each listViewsNews}}
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									{{#if Avatar}}
									<img src="/images/{{Avatar}}" class="card-img" alt="image posting">
									{{else}}
									<img src="/images/logo.png" class="card-img" alt="image posting">
									{{/if}}
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<a href="/newsdetails/{{NewsID}}" class="card-title">{{NewsTitle}}</a>
										<p class="card-text"><a href="/list/category/{{CatID}}">{{CatName}}</a> -
											<a href="/list/subcategory/{{CatChild_ID}}">{{CatChildName}}</a> </p>
										<p class="card-text"><small class="text-muted">{{formatDate DatePost}}</small>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
		{{#else}}
		<div>Không có dữ liệu</div>
		{{/else}}
		{{/if}}
	</section>
	<section class="newest">
		<h5 class="newest__title"> Bài viết mới nhất </h5>
		{{#if listMostSoonNewsLength}}
		<div class="container">
			<div class="row">
				<div class="owl-carousel owl-theme">
					{{#each listMostSoonNews}}
					<div class="item">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									{{#if Avatar}}
									<img src="/images/{{Avatar}}" class="card-img" alt="image posting">
									{{else}}
									<img src="/images/logo.png" class="card-img" alt="image posting">
									{{/if}}
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<a href="/newsdetails/{{NewsID}}" class="card-title">{{NewsTitle}}</a>
										<p class="card-text"><a href="/list/category/{{CatID}}">{{CatName}}</a> -
											<a href="/list/subcategory/{{CatChild_ID}}">{{CatChildName}}</a> </p>
										<p class="card-text"><small class="text-muted">{{formatDate DatePost}}</small>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
		{{#else}}
		<div>Không có dữ liệu</div>
		{{/else}}
		{{/if}}
	</section>
	{{#if listMostSoonNewsLength}}
	{{#each listMostSoonNews}}
	<section class="top-ten">
		<h5 class="top-ten__title"> {{CatName}} </h5>
		<div class="container">
			<div class="row">
				<div class="card mb-3" style="max-width: 540px;">
					<div class="row no-gutters">
						<div class="col-md-4">
							{{#if Avatar}}
							<img src="/images/{{Avatar}}" class="card-img" alt="image posting">
							{{else}}
							<img src="/images/logo.png" class="card-img" alt="image posting">
							{{/if}}
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<a href="/newsdetails/{{NewsID}}" class="card-title">{{NewsTitle}}</a>
								<p class="card-text"><a href="/list/category/{{CatID}}">{{CatName}}</a> -
									<a href="/list/subcategory/{{CatChild_ID}}">{{CatChildName}}</a> </p>
								<p class="card-text"><small class="text-muted">{{formatDate DatePost}}</small></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{{/each}}
	{{#else}}
	<div>Không có dữ liệu</div>
	{{/else}}
	{{/if}}
</main>