{{#section 'title'}}
Những bài viết mới nhất
{{/section}}
<main class="home-page">
	<section class="most-view">
		{{#if newsLength}}
		<h5 class="most-view__title"> Danh sách bài viết </h5>
		<div class="container">
			<div class="row">
				<div class="section-contents ">
					{{#each news}}
					<div class="item">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-md-4">
									{{#if Avatar}}
									<img src="/images/{{Avatar}}" class="card-img" alt="image posting">
									{{else}}
									<img src="/images/logo.png" class="card-img" alt="image posting">
									{{/if}}
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<a href="/newsdetails/{{NewsID}}" class="card-title">{{NewsTitle}}</a>
										<p class="card-text">{{Abstract}}</p>
										<p class="card-text"><a href="/list/category/{{CatID}}">{{CatName}}</a> -
											<a href="/list/subcategory/{{CatChild_ID}}">{{CatChildName}}</a> </p>
										<p class="card-text"><small class="text-muted">{{formatDate DatePost}}</small>
										</p>
										<div class="CatAndPre">
											<div class="catChild">
												<a class="color" style="color: white;">{{CatChildName}}</a>
											</div>
											{{#if IsPremium }}
											<p class="card-text"><i class="fa fa-star" aria-hidden="true"> PREMIUM</i></p>
											{{/if}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
					<div class="pagination">
						<div class="pagination-content">
							<a href="{{startPage}}">&laquo;</a>
							<a href="{{prevPage}}" {{#if cant_go_prev}} class="disabled" {{/if}}>&lt;</a>
							{{#each page_items}}
							<a href="{{href}}" {{#if isActive}}class="active" {{/if}}>{{value}}</a>
							{{/each}}
							<a href="{{nextPage}}" {{#if cant_go_next}} class="disabled" {{/if}}>&gt;</a>
							<a href="{{endPage}}">&raquo;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{else}}
		<div class="p-2"><strong>Không có dữ liệu</strong></div>
		{{/if}}
	</section>
</main>