{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css">
<style>
    .hidden{display:none;}
</style>
{{/section}}

{{#section 'js'}}
{{!-- <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> --}}
<script src="https://cdn.tiny.cloud/1/8jbstsesvb079hdfufswb0btf1ud4bteqgpfco77q6t8z88h/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fa/theme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/locales/vi.min.js"></script>
<script>
  tinymce.init({
    selector: '#txtContent',
    content_css: '//www.tiny.cloud/css/codepen.min.css',
    height: 450,
    plugins: 'paste image link autolink lists table media code responsivefilemanager',
    menubar: true,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link media image',
    ],  
    images_upload_url: 'postAcceptor.php',
    automatic_uploads: false,
  });
</script>



<script>
  $('#avatar').fileinput({
    theme: 'fa',
    showCaption: true,
    dropZoneEnabled: true,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
    language: 'vi'
  });
</script>
{{/section}}

<br>
<div class="container">
    <form method="POST">
      <h4 class="text-primary">Danh sách chuyên mục bạn đang quản lý:
        {{#each LoadListPost_CatEditManager}}
          {{CatName}} - 
        {{/each}}
      </h4>
        <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h4>Danh sách các bài chờ duyệt</h4>
        </div>
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col" class="text-center" hidden>NewsID</th>
                <th scope="col" class="text-center">Avatar</th>
                <th scope="col" class="text-center">Tiêu đề</th>
                <th scope="col" class="text-center">Nội dung tóm tắt</th>
                <th scope="col" class="text-center">Ngày đăng</th>
                <th scope="col" class="text-center">Chuyên mục cha</th>
                <th scope="col" class="text-center">Tác giả</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each this.LoadListPost}}
                <tr>
                    <td hidden>
                        <input id="txtNewsID" class="form-control" type="text" value="{{NewsID}}" readonly>
                    </td>
                    <th>
                      <img src="/images/{{Avatar}}" class="List_avatar">
                    </th>
                    <td>{{NewsTitle}}</td>
                    <td>{{Abstract}}</td>
                    <td>{{formatDate DatePost}}</td>
                    <td>{{CatName}}</td>
                    <td>{{Name}}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/Editor/Review/{{NewsID}}" role="button">
                        <i class="fa fa-eye" aria-hidden="true" title="Xem bài viết"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            </table>
        <div class="card-footer text-muted">
        </div>
        </div>
    </form>
</div>

