<br>
<div class="container">
  <div class="row">
    <div class="col-9">
      <a class="btn btn-primary" href="/Editor" role="button" title="Back to List" >
          <i class="fa fa-backward" aria-hidden="true"></i>
          Quay trở lại danh sách chờ duyệt
      </a>
      <h1>{{this.news.NewsTitle}}</h1>
      <b>Tác giả: {{Name}}</b>&nbsp;&nbsp;<a>|&nbsp;{{formatDate DatePost}}</a><br>
      <b>
          Lượt xem <i class="fa fa-eye" aria-hidden="true"> {{this.news.View}} -</i>&ensp;Lượt thích <i class="far fa-thumbs-up"> {{this.news.Like}}</i>
      </b>
      <div class="abstract">
          <br>
          <b>{{this.news.Abstract}}</b>
      </div>
      <div class="content">
          <p>{{{this.news.Content}}}
          </p>
      </div>
      <div>
          <i class="fas fa-tags"></i>
          {{#each TagOfNews}}
          <a class="tag">{{TagName}}</a>
          {{/each}}
      </div>
    </div>
    <div class="col-3">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header text-success">
            <h5 style="margin: 0;">DUYỆT BÀI VIẾT</h5>
          </div>
          <div class="card-body text-success">
            <form method="POST">
              <div class="form-group">
                <label for="txtTagName">Dán nhãn: </label>
                <select class="custom-select" id="txtTag" name="TagID">
                  {{#each LoadTag}}
                  <option value="{{TagID}}">{{TagName}}</option>
                  {{/each}}
                </select>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;" formaction="/Editor/themdannhan">
                  Thêm dán nhãn
                </button>
              </div>
            </form>
            <form method="POST">
              <div class="form-group">
                <label for="txtCatName">Chuyên mục con: </label>
                <select class="custom-select" id="txtCatChild" name="CatChild_ID">
                  <option selected value="{{this.news.CatChild_ID}}">{{this.news.CatChildName}}</option>
                  {{#each Review_LoadCatChild}}
                  <option value="{{CatChild_ID}}">{{CatChildName}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label for="txtDatePost">Thời gian bài đăng xuất bản lên hệ thống: </label>
                <input id="txtDatePost" name="DatePost" class="form-control" type="datetime">
              </div>
              <button type="submit" class="btn btn-success " formaction="/Writer/update">
                <i class="fa fa-check" aria-hidden="true"></i>
                Duyệt
              </button>
            </form> 
          </div>
        </div>
      <div class="card border-danger  mb-3" style="max-width: 18rem;">
        <div class="card-header text-danger">
          <h5 style="margin: 0;">TỪ CHỐI BÀI VIẾT</h5>
        </div>
        <div class="card-body text-danger ">
          <div class="form-group">
            <label for="txtNote">Ghi chú: </label>
            <textarea name="Note" id="txtNote" class="form-control" cols="30" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-danger" title="Remove News" formaction="/Writer/del">
            <i class="fa fa-ban" aria-hidden="true"></i>
            Từ chối
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

