<main class="writer-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-primary text-white" href="/Writer" role="button" title="Back to List" style="margin: 10px;">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Quay trở lại danh sách bài đăng
                </a>
                    <h2>{{this.news.NewsTitle}}</h2>
                    <b>Tác giả: {{this.news.Name}}</b>&nbsp;&nbsp;<a>&nbsp;{{formatDate this.news.DatePost}} -
                    {{formatDateTime this.news.DatePost}}</a><br>
                    <b>
                        Lượt xem: {{this.news.View}} -</i>&ensp;Lượt thích: {{this.news.Like}} </i>
                    </b>
                    <div class="catChild">
                        <b>Chuyên mục: </b>&ensp;
                        <a class="color">{{this.news.CatChildName}}</a>
                    </div>
                    <div class="abstract">
                        <br>
                        <b>{{this.news.Abstract}}</b>
                    </div>
                    <div class="content">
                        <p>{{{this.news.Content}}}
                        </p>
                    </div>
                <div>
                    <i class="fas fa-tags"></i>
                    {{#each TagOfNews}}
                    <a class="tag">{{TagName}}</a>
                    {{/each}}
                </div>
                <br>
                <form method="POST">
                    <div class="form-group" hidden>
                        <input id="txtNewsID" name="NewsID" class="form-control" type="text" value="{{this.news.NewsID}}">
                    </div>
                    <div class="form-group">
                        <label for="txtTag">Gắn nhãn:</label>
                        <select class="custom-select" id="txtTag" name="TagID">
                            {{#each LoadTag}}
                            <option value="{{TagID}}">{{TagName}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-md-3" formaction="/Writer/addtag">
                        {{!-- <i class="fa fa-tag"></i> --}}
                        Thêm nhãn
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>