<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <a class="btn btn-primary" href="/Writer" role="button" title="Back to List" >
            <i class="fa fa-backward" aria-hidden="true"></i>
            Quay trở lại danh sách bài đăng
        </a>
                <h1>{{this.news.NewsTitle}}</h1>
                <b>Tác giả: {{Name}}</b>&nbsp;&nbsp;<a>|&nbsp;{{formatDate DatePost}}</a><br>
                <b>
                    Lượt xem <i class="fa fa-eye" aria-hidden="true"> {{this.news.View}} -</i>&ensp;Lượt thích <i class="far fa-thumbs-up"> {{this.news.Like}}</i>
                </b>
                <div class="abstract">
                    <br>
                    <b>{{this.news.Abstract}}</b>
                </div>
                <div class="content">
                    <p>{{{this.news.Content}}}
                    </p>
                </div>
            <div>
                <i class="fas fa-tags"></i>
                {{#each TagOfNews}}
                <span class="d-inline p-2 bg-secondary text-white rounded-pill">{{TagName}}</span>
                {{/each}}
            </div>
            <br>
        <form method="POST">
            <div class="form-group" hidden>
                <input id="txtNewsID" name="NewsID" class="form-control" type="text" value="{{this.news.NewsID}}">
            </div>
            <div class="form-group">
                <label for="txtTag">Gắn nhãn:</label>
                <select class="custom-select" id="txtTag" name="TagID">
                    {{#each LoadTag}}
                    <option value="{{TagID}}">{{TagName}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-md-3" formaction="/Writer/addtag">
                {{!-- <i class="fa fa-tag"></i> --}}
                Thêm nhãn
            </button>
            
        </form>
    </div>
</div>