{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css">
<style>
    .hidden{display:none;}
</style>
{{/section}}

{{#section 'js'}}
{{!-- <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> --}}
<script src="https://cdn.tiny.cloud/1/8jbstsesvb079hdfufswb0btf1ud4bteqgpfco77q6t8z88h/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fa/theme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/locales/vi.min.js"></script>
<script>
  tinymce.init({
    selector: '#txtContent',
    content_css: '//www.tiny.cloud/css/codepen.min.css',
    height: 450,
    plugins: 'paste image link autolink lists table media code responsivefilemanager',
    menubar: true,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link media image',
    ],  
    images_upload_url: 'postAcceptor.php',
    automatic_uploads: false,
  });
</script>

<script>
  $('#avatar').fileinput({
    theme: 'fa',
    showCaption: true,
    dropZoneEnabled: true,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
    language: 'vi'
  });
</script>
{{/section}}

<br>
<div class="row">
  <br>
  <div class="col-md-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-listpost-tab" data-toggle="pill" href="#v-pills-listpost" role="tab" aria-controls="v-pills-listpost" aria-selected="false">Danh sách bài viết</a>
      <a class="nav-link" id="v-pills-newpost-tab" data-toggle="pill" href="#v-pills-newpost" role="tab" aria-controls="v-pills-newpost" aria-selected="true">Viết bài mới</a>
    </div>
  </div>
  <div class="col-md-10">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade" id="v-pills-newpost" role="tabpanel" aria-labelledby="v-pills-newpost-tab">
            <form method="post" novalidate action="" enctype="multipart/form-data">
              <div class="card">
                <div class="card-header">
                  <h4>Thêm bài mới</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="form-group">
                          <label for="txtNewsTitle">Tiêu đề: </label>
                          <input id="txtNewsTitle" name="NewsTitle" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                          <label for="txtAvatar">Ảnh đại diện bài viết: </label>
                          <div class="file-loading">
                            <input id="avatar" name="Avatar" type="file" multiple>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="txtAbstract">Nội dung ngắn:</label>
                          {{!-- <textarea name="Abstract" id="txtAbstract" class="form-control" cols="30" rows="3"></textarea> --}}
                          <input name="Abstract" id="txtAbstract" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                          <label for="txtContent">Nội dung chi tiết:</label>
                          <textarea name="Content" id="txtContent" class="form-control" cols="30" rows="10"></textarea>

                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="txtAuthor">Tác giả: </label>
                          <select class="custom-select" id="txtAuthor" name="Author">
                            {{#each LoadAuthor}}
                            <option value="{{UserID}}">{{UserName}}</option>
                            {{/each}}
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="txtCatChild">Chuyên mục con: </label>
                          <select class="custom-select" id="txtCatChild" name="CatChild_ID">
                            {{#each LoadCatChild}}
                            <option value="{{CatChild_ID}}">{{CatChildName}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                    </div>
                    <br>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-lg btn-success btn-block">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Đăng ngay
                  </button>
                </div>
              </div>
            </form>
      </div>
      <div class="tab-pane fade show active" id="v-pills-listpost" role="tabpanel" aria-labelledby="v-pills-listpost-tab">
          <form method="POST">

            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h4>Danh sách bài đăng</h4>
              </div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Tiêu đề</th>
                    <th scope="col" class="text-center">Nội dung ngắn</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.LoadListPost}}
                  <tr>
                    <th scope="row">{{NewsID}}</th>
                    <td>{{NewsTitle}}</td>
                    <td>{{Abstract}}</td>
                    <td>
                      <a class="btn btn-primary btn-sm" href="/Writer/Edit/{{NewsID}}" role="button">
                        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                      </a>

                      {{!-- <a class="btn btn-danger btn-sm" href="/Writer/del" role="button">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a> --}}
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="card-footer text-muted">
                Footer
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

