{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css">
<style>
    .hidden {
        display: none;
    }
</style>
{{/section}}

{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/8jbstsesvb079hdfufswb0btf1ud4bteqgpfco77q6t8z88h/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fa/theme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/locales/vi.min.js"></script>
<script>
    tinymce.init({
        selector: '#txtContent',
        content_css: '//www.tiny.cloud/css/codepen.min.css',
        height: 450,
        plugins: 'paste image link autolink lists table media code responsivefilemanager',
        menubar: true,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link media image',
        ],
        images_upload_url: 'postAcceptor.php',
        automatic_uploads: false,
    });
</script>

<script>
    $('#avatar').fileinput({
        theme: 'fa',
        showCaption: true,
        dropZoneEnabled: true,
        allowedFileExtensions: ['png', 'jpg', 'gif'],
        language: 'vi'
    });
</script>
{{/section}}

<main class="admin-page">
    <div class="content">
        <div class="box">
            <form method="POST" class="frm" enctype="multipart/form-data" novalidate>
                <div>
                    <h3 class="text-danger">CẬP NHẬT NGƯỜI DÙNG</h3>
                </div>
                <div class="form_group" hidden>
                    <label for="txtUserID" class="text-primary">UserID: </label>
                    <input id="txtUserID" name="UserID" class="form-control" type="text" value="{{this.user.UserID}}">
                </div>
                <div class="form_group">
                    <label for="txtUsername" class="text-primary">Username: </label>
                    <input id="txtUsername" name="UserName" class="form-control" type="text"
                        value="{{this.user.UserName}}">
                </div>
                <br>
                <div class="form-group">
                    <label for="txtAvatar" class="text-primary">Avatar hiện tại: </label>
                    {{#if this.user.avata}}
                    <img src="/images/{{this.user.avata}}" style="height: 150px;">
                    {{else}}
                    <img src="/images/Account.png" class="List_avatar">
                    {{/if}}
                </div>
                <div class="form-group">
                    <label for="txtAvatar" class="text-primary">Cập nhật Avatar: </label>
                    <div class="file-loading">
                        <input id="avatar" name="avata" type="file" class="file">
                    </div>
                </div>
                <button type="submit" class="btn btn-success" formaction="/Admin/UpdateUser/updateAvatarUser">
                    Cập nhật Avatar
                </button>
                <div class="form_group">
                    <label for="txtName" class="text-primary">Họ và tên: </label>
                    <input id="txtName" name="Name" class="form-control" type="text" value="{{this.user.Name}}">
                </div>
                <div class="form_group">
                    <label for="txtPassword" class="text-primary">Mật khẩu: </label>
                    <input id="txtPassword" name="Password" class="form-control" type="text"
                        value="{{this.user.Password}}">
                </div>
                <div class="form_group">
                    <label for="txtBirthDay" class="text-primary">Ngày sinh: </label>
                    <input id="txtBirthDay" name="BirthDay" class="form-control" type="date"
                        value="{{formatDate2 this.user.BirthDay}}">
                </div>
                <div class="form_group">
                    <label for="txtPhone" class="text-primary">Số điện thoại: </label>
                    <input id="txtPhone" name="Phone" class="form-control" type="number" value="{{this.user.Phone}}">
                </div>
                <div class="form_group">
                    <label for="txtEmail" class="text-primary">Email: </label>
                    <input id="txtEmail" name="Email" class="form-control" type="email" value="{{this.user.Email}}">
                </div>
                <div class="form_group">
                    <label for="txtTypeOfUser" class="text-primary">Loại tài khoản: </label>
                    <select class="custom-select" id="txtTypeOfUser" name="TypeOfUser">
                        <option selected value="{{this.user.TypeID}}">{{this.user.TypeName}}</option>
                        {{#each typeUser}}
                        <option value="{{TypeID}}">{{TypeName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form_group">
                    <label for="txtPenName" class="text-primary">Bút danh: </label>
                    <input id="txtPenName" name="PenName" class="form-control" type="text"
                        value="{{this.user.PenName}}">
                </div>
                <div class="submit-form">
                    <button type="submit" class="btn btn-primary" formaction="/Admin/UpdateUser/update">
                        Cập nhật thông tin
                    </button>
                    <a type="submit" class="btn btn-danger" href="/Admin" role="button">
                        Hủy
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>