<header class="text-center" id="top">
    <section class="navbar-header">
        <nav class="navbar navbar-expand-lg navbar-light"><a class="navbar-brand" href="/"><img src="/images/logo.png"
                    width="40" height="40" alt="logo" loading="lazy"> Creator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="mr-auto"></div>
                <form class="form-inline my-2 my-lg-0" method="GET" action="/search">
                    <input class="form-control mr-sm-2" id="searchBox" type="search" name="content"
                        placeholder="Nhập thông tin tìm kiếm">
                </form>
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div class="nav-link"><i class="fas fa-search" id="showInput"></i></div>
                    </li>
                    {{#if isLogined}}
                    {{#if isAdmin}}
                         <li class="nav-item"><a class="nav-link" href="/admin"><i class="fas fa-table"></i> Quản Lý </a>
                    </li>
                    {{/if}}
                    {{#if isWriter}}
                         <li class="nav-item"><a class="nav-link" href="/writer"><i class="fas fa-table"></i> Quản Lý </a>
                    </li>
                    {{/if}}
                    {{#if isEditor}}
                         <li class="nav-item"><a class="nav-link" href="/editor"><i class="fas fa-table"></i> Quản Lý </a>
                    </li>
                    {{/if}}
                    <form action="/logout" method="post">
                        <li class="nav-item"><a class="nav-link" href="/logout" role="button"><i
                                    class="fas fa-sign-out-alt"></i> Đăng
                                Xuất</a>
                        </li>

                    </form>
                    <li class="nav-item name">{{Name}}
                    </li>
                    {{#if passport}}
                    <li class="nav-item" id="avatar"><img class="nav-item__user" src="{{Avatar}}" width="100%"
                            height="100%" alt="avatar" loading="lazy">
                        <div class="User-info passport " >
                            <a href="/User/updateUserInfo/{{UserID}}">Cập nhật tài khoản</a>
                        </div>
                    </li>
                    {{else}}
                    {{#if Avatar}}
                    <li class="nav-item" id="avatar"><img class="nav-item__user" src="/images/{{Avatar}}" width="100%"
                            height="100%" alt="avatar" loading="lazy">
                        <div class="User-info">
                            <a href="/User/updateUserInfo/{{UserID}}">Cập nhật tài khoản</a>
                            <hr>
                            <a href="/changePassword/{{UserID}}">Đổi mật khẩu</a>
                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item" id="avatar"><img class="nav-item__user" src="/images/Account.png" width="100%"
                            height="100%" alt="avatar" loading="lazy">
                        <div class="User-info">
                            <a href="/User/updateUserInfo/{{UserID}}">Cập nhật tài khoản</a>
                            <hr>
                            <a href="/changePassword/{{UserID}}">Đổi mật khẩu</a>
                        </div>
                    </li>
                    {{/if}}
                    {{/if}}
                    {{else}}
                    
                    <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-sign-out-alt"></i> Đăng
                            Nhập</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/login/register"><i class="fas fa-user-plus"></i>
                            Đăng
                            Ký</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </section>
    <section class="categories-header bg-light">
        <div class="container bg-light">
            <div class="row">
                <div class="col">
                    <nav>
                        <ul class="top-ten">
                            {{#each topTenCategory}}
                            <li><a href="/list/category/{{CatID}}">{{CatName}}</a></li>
                            {{/each}}
                        </ul>
                        <div class="mr-auto"></div>
                        <ul class="hamberger-area"><span class="hamberger-button" id="hamberger-button">
                                <div class="bar one"></div>
                                <div class="bar two"></div>
                                <div class="bar three"></div>
                            </span></ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container-fluid all-categories">
            <div class="row">
                {{#each catAndSubCat}}
                <div class="col-md-3">
                    <nav class="nav">
                        <ul class="nav__ul"><span class="nav__ul__separate">/</span><a class="nav__ul__category"
                                href="/list/category/{{catid}}">{{catname}}</a>
                            {{#each subCatData}}
                            <li class="nav__ul__li"> <a class="nav__ul__sub-category"
                                    href="/list/subcategory/{{catchild_id}}">{{catchildname}}</a></li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</header>